#content .main-content h4{
    font-weight: 600;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px 0px;
    text-transform: uppercase;
}
.referencias-inicio{
    text-decoration: none !important;
    color: #495464 !important;
}
.indicacion{
    font-size: 1.3vw !important;
}   

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
